{
  "topSystem": {
    "children": [
      {
        "interfaceEntity": {
          "children": [
            {
              "l1PhysIf": {
                "attributes": {
                  "accessVlan": "vlan-20"
                  "adminSt": "up",
                  "descr": {{ description }},
                  "id": {{if_name}},
                  "userCfgdFlags": "admin_state"
                }
              }
            }
          ]
        }
      }
    ]
  }
}